<form class="places__sorting" action="#" method="get">
  <span class="places__sorting-caption">Sort by</span>
  <span
    appToggleFormSort
    (formToggled)="onFormToggled()"
    class="places__sorting-type"
    tabindex="0"
  >
    {{currentSortType}}
    <svg class="places__sorting-arrow" width="7" height="4">
      <use xlink:href="#icon-arrow-select"></use>
    </svg>
  </span>
  <ul
    appCloseFormSorting
    [isSortFormOpen]="isSortFormOpen()"
    (formSortClosed)="onFormSortClosed()"
    class="places__options places__options--custom"
    [class.places__options--opened]="isSortFormOpen()"
  >
    <li
      appSelectSortType
      [currentSortType]="currentSortType"
      [sortType]="SortType.POPULAR"
      (sortTypeSelected)="onSortTypeSelected($event)"
      class="places__option"
      tabindex="0"
    >
      Popular
    </li>
    <li
      appSelectSortType
      [currentSortType]="currentSortType"
      [sortType]="SortType.PRICE_LOW_TO_HIGH"
      (sortTypeSelected)="onSortTypeSelected($event)"
      class="places__option"
      tabindex="0"
    >
      Price: low to high
    </li>
    <li
      appSelectSortType
      [currentSortType]="currentSortType"
      [sortType]="SortType.PRICE_HIGH_TO_LOW"
      (sortTypeSelected)="onSortTypeSelected($event)"
      class="places__option"
      tabindex="0"
    >
      Price: high to low
    </li>
    <li
      appSelectSortType
      [currentSortType]="currentSortType"
      [sortType]="SortType.TOP_RATED_FIRST"
      (sortTypeSelected)="onSortTypeSelected($event)"
      class="places__option"
      tabindex="0"
    >
      Top rated first
    </li>
  </ul>
</form>
