<div class="page page--gray page--main">
  <app-header />
  <main class="page__main page__main--index">
    <h1 class="visually-hidden">Cities</h1>
    <div class="tabs">
      <section class="locations container">
        <ul class="locations__list tabs__list">
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.PARIS | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Paris</span>
            </a>
          </li>
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.COLOGNE | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Cologne</span>
            </a>
          </li>
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.BRUSSELS | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Brussels</span>
            </a>
          </li>
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.AMSTERDAM | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Amsterdam</span>
            </a>
          </li>
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.HAMBURG | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Hamburg</span>
            </a>
          </li>
          <li class="locations__item">
            <a
              appChangeCity
              [city]="CityName.DUSSELDORF | cityByName"
              [currentCity]="currentCity()"
              class="locations__item-link tabs__item"
              (cityChanged)="onCityChanged($event)"
              href="#"
            >
              <span>Dusseldorf</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="cities">
      <div class="cities__places-container container">
        <section class="cities__places places">
          <h2 class="visually-hidden">Places</h2>
          <b class="places__found"
            >{{ (offers() | offersByCity: currentCity()).length }} places to
            stay in {{currentCity().name}}</b
          >
          <app-form-sorting
            [currentSortType]="currentSortType()"
            (sortChanged)="onSortTypeChanged($event)"
          />
          <div class="cities__places-list places__list tabs__content">
            @for (
              offer of offers()
                | offersByCity: currentCity()
                | offerSort: currentSortType();
              track offer.id
            ) {
              <app-card [offer]="offer" />
            }
          </div>
        </section>
        <div class="cities__right-section">
          <section class="cities__map map"></section>
        </div>
      </div>
    </div>
  </main>
</div>
